<!DOCTYPE html>
<html>
  <head>
    <title>Vue 3 Basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .box.two {
        background-color: red;
      }
      .box.three {
        background-color: blue;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>

  <body>
    <!--? `v-cloak shows the DOM only when all elements are rendered ` -->
    <div id="app" v-cloak>
      <!-- <custom-form /> -->
      <button @click="toggleBox">{{ isVisible ? 'Hide' : 'Show' }} Box</button>
      <custom-box v-if="isVisible"></custom-box>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        //? This is called the option object
        data() {
          return {
            greeting: `Hello Vue 3!`,
            isVisible: false,
          }
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible
          },
          greet(greeting) {
            console.log(greeting)
          },
        },
        updated() {
          // called because we're updating the `isVisible` value
          console.log('updated')
        },
      })

      //? This is the definition of a custom HTML tag called `custom-form`, with its option object associated
      app.component('custom-form', {
        template: `
        <form @submit.prevent="handleSubmit"> 
            <h1>{{ title }}</h1>
            <custom-input 
              v-for="(field, i) in fields" 
              :key="i"
              v-model="field.value"
              :label="field.label"
              :type="field.type"
            />  
            <button>Login</button>
          </form>
        `,
        // `v-bind` parses an HTML attribute to JS, so that we can bind the emailLabel to the child component's `label`
        components: ['custom-input'],
        data() {
          return {
            title: 'Login Form',
            fields: [
              {
                label: 'Email',
                value: '',
                type: 'email',
              },
              {
                label: 'Password',
                value: '',
                type: 'password',
              },
            ],
          }
        },
        methods: {
          handleSubmit(e) {
            // '@submit.prevent' === e.preventDefault(), needed to avoid default page reload
            // e.preventDefault()
            console.log(this.fields[0].value, this.fields[1].value)
          },
        },
      })

      app.component('custom-input', {
        template: `
          <label>
            {{ label }}
            <input :type="type" v-model="inputValue">
          </label>
        `,
        // All the props passed from the parent compoent using `v-bind`
        // `modelValue` is passed to the child component when the parent defines a `v-model` when calling the child tag
        props: ['label', 'modelValue', 'type'],
        // `computed` allows to define a var as a key, with its own getter and setter
        computed: {
          inputValue: {
            get() {
              // Sets the value of `inputValue` to the one returned here, in this case `this.modelValue` === parent v-model binded value
              return this.modelValue
            },
            set(value) {
              // Similar to Angular child emitting an event to pass data to parent
              // `v-model` in the parent automatically listens to this `update` event emitted from its child component
              this.$emit('update:modelValue', value)
            },
          },
        },
      })

      app.component('custom-box', {
        template: `
          <div class="box"></div>
        `,
        created() {
          console.log('created')
        },
        mounted() {
          console.log('mounted')
        },
        unmounted() {
          console.log('unmounted')
        },
      })

      app.mount('#app')
    </script>
  </body>
</html>
